numpy >= 1.15.2
matplotlib >=  2.2.0    # for plotting

pytest >= 4.2.0         # for test suite
pytest-cov >= 2.6.1     # for test suite
mypy >= 0.670           # for static type analysis
codecov                 # for test coverage

networkx >= 2.4.0       # for the TSP example
tsplib95 >= 0.7.0       # for the TSP example
