numpy == 1.16.2

pytest == 4.2.0         # for test suite
pytest-cov == 2.6.1     # for test suite
mypy == 0.670           # for static type analysis
codecov                 # for test coverage

networkx == 2.3.0       # for the TSP example
tsplib95 == 0.3.3       # for the TSP example
